/********************************** 背景栏 ************************************/

.M-profileBg {
  width: 100%;
  height: 100%;
  background-color: $mainBg;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  position: relative;
}

.M-upload {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;

  .van-uploader__wrapper {
    height: 100%;
  }

  .van-uploader__upload {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

/********************************** 信息功能栏 ********************************/

.M-profile_info {
  box-sizing: border-box;
  width: 100%;
  padding: $assistMargin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  z-index: 1;
}

.M-infoMain {
  display: flex;
  align-items: center;
}

.M-userImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 10px 20px 0 rgba(31, 35, 41, .2),
    0 1px 12px 0 rgba(31, 35, 41, .05);
  position: relative;
  margin-left: $margin;
}

.M-profileUserInfo {
  margin-left: $margin * 2;
  width: calc(100% - 130px);
}

.M-userName {
  font-size: 22px;
  margin-top: $margin;
  text-align: left;
  color: $mainColor;
}

.M-userDesc {
  font-size: 13px;
  text-align: left;
  margin-top: $margin;
  text-align: justify;
  text-justify: newspaper;
  word-break: break-all;
  overflow: hidden;
  color: $inActiveColor;
}

.M-profile_list {
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 16px 0 rgba(31, 35, 41, .05);
  position: relative;
  z-index: 99999;
}

.M-profile_list .van-cell__left-icon {
  color: $mainColor;
}

.M-profile_list .van-cell {
  padding: $assistMargin $margin;
}

.M-notive {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
