//  主题色
$mainColor:#FD5232;

// 主背景色
$mainBg:#ffffff;

// 辅背景色
$assistBg: #f2f2f2;

// 主边距
$margin: 10px;

// 辅助边距
$assistMargin: 16px;

// 默认字体颜色
$defaultColor:#1F2329;

// 字体活跃颜色
$activeColor:#ffffff;

// 字体不活跃颜色
$inActiveColor:#888888;

// 商品活跃色
$goodsPriceColor:#ff3812;

// 折扣颜色
$discountColor:#ff8917;
